.dndContainer{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: end;
    align-content: end;
    flex-wrap: wrap;
}

.panelContainer {
    width: 243px;
    height: 448px;
    margin-right: 56px;
}

.canvasContainer {
    width: 244px;
    height: 448px;
}


